<main id="ember-welcome-page-id-selector" data-ember-version="3.28.0">
    <div class="welcome">
      <h1 id="title">{{title}} </h1>
    </div>
    <div class="body">
        {{outlet}}
    </div>
  </main>
